.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 50%;
    padding-right: 34px;
    padding-left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 50%px;
    padding-right: 75px;
    padding-left: 75px;
  }
}
