.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  border: 1px solid #000000;
  border-radius: 5px;
}

.statisticTitle {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.statisticList {
  display: flex;
  width: 100%;
  height: 50%;
  border-top: 1px solid black;
}

.statisticItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 5);
  padding-top: 20px;
  padding-bottom: 20px;
  &:not(:last-child) {
    border-right: 1px solid black;
  }
  & span:first-child {
    margin-bottom: 10px;
  }
  & span:last-child {
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: calc((100% / 2) - 10px);
  }
}
